.layui-layer-molv .layui-layer-title{
    background: #3c8dbc;
}
.layui-layer-molv .layui-layer-btn a{
    background: #3c8dbc;
}
.layui-layer-molv .layui-layer-btn .layui-layer-btn1
{
    background: #ffffff;
}