<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" id="myForm" autocomplete="off">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">酒店名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="tHotel.name" placeholder="酒店名称" name="name"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">酒店位置</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="tHotel.location" placeholder="酒店位置" name="location"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">房间数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="tHotel.room" placeholder="房间数" name="room"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">联系方式</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="tHotel.phone" placeholder="联系方式" name="phone"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="tHotel.userId" placeholder="创建人" name="userId"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">0 未激活 1 激活</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="tHotel.status" placeholder="0 未激活 1 激活" name="status"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="/statics/js/modules/thotel.js"></script>
</body>
</html>