<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" id="myForm" autocomplete="off">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">账户</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="sysUser.username" placeholder="账户" name="username"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">密码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="sysUser.password" placeholder="密码" name="password"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户类型（1普通用户 3管理员）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="sysUser.userType" placeholder="用户类型（1普通用户 3管理员）" name="userType"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="sysUser.chineseName" placeholder="用户姓名" name="chineseName"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="/statics/js/modules/sys/user.js"></script>
</body>
</html>